---
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";

// load ALL markdown files in this folder
const posts = await Astro.glob("./*.md");

// build static routes
export async function getStaticPaths() {
  return posts.map((post) => {
    const slug = post.file.split("/").pop().replace(".md", "");

    return {
      params: { slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { frontmatter, Content } = await post.render();
---

<BlogPostLayout frontmatter={frontmatter}>
  <main class="post-container">
    <h1>{frontmatter.title}</h1>

    <img
      src={frontmatter.image.src}
      alt={frontmatter.image.alt}
    />

    <Content />
  </main>
</BlogPostLayout>