---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";

// utils imports
import { formatBlogPosts } from '../../js/utils';

export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob("../../pages/blog/*.md", { eager: true })
  );
  const formattedPosts = formatBlogPosts(allPosts);
  const allAuthors = [
    ...new Map(
      formattedPosts.map((post) => [
        post.frontmatter.author.slug,
        post.frontmatter.author,
      ])
    ).values(),
  ];
  return allAuthors.map((author) => {
    const authorPosts = formattedPosts.filter((post) => post.frontmatter.author.slug === author.slug);
    return {
      params: { author: author.slug},
      props: {
        authorName: author.name,
        posts: authorPosts, 
      }
    }
  })
}

const { posts, authorName } = Astro.props;

---

<MainLayout>
  <main class="content-container">
    <h1>Статьи автора <span class="highlight">{authorName}</span></h1>
    <div class="author-page-container" aria-label={`Статьи автора ${authorName}`}>
      
      <div class="author-posts-container">
        {
          posts.map((post) => (
            <PostCard frontmatter={post.frontmatter} url={post.url} />
          ))
        }
      </div>
    </div>

  </main>
</MainLayout>

<style>
  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-clr-dark);
    margin-bottom: 2rem;
  }
  .highlight {
    color: var(--accent-clr) !important;
  }
  .author-posts-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
</style>