*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
 /*  background-color: var(--secondary-clr); */
}

:root {
  --primary-clr: #FEDBD0;
  --primary-clr-dark: #442C2E;
  --secondary-clr: #FEEAE6;

  --accent-clr: #EF476F;
  --accent-clr-2: #06D6A0;

  --selection-clr: #bce5bc; 

 /*  --primary-clr: #356859;
  --primary-clr-2: #37966F;
  --primary-clr-3: #B9E4C9;
  --secondary-clr: #FD5523;
  --clr: #FFFBE6; */

  --max-width: 1440px;
  --content-width: 1280px;
}

.dark-mode {
  --primary-clr: #40170b;
  --primary-clr-dark: #d3bbbd; 
  --secondary-clr: #1f0f0c;

  --accent-clr: #b71037; 
  --accent-clr-2: #2fd7aa; 

  --selection-clr: #175217; 
}

::selection {
  background-color: var(--selection-clr);
  color: var(--primary-clr-dark);
}

/* html {
  scroll-behavior: smooth;
  background-color: var(--secondary-clr); 
  background-image: url("/icons/seamless.jpg");
  background-repeat: repeat;
  background-size: 600px;
  background-blend-mode: multiply;
} */

html {
  scroll-behavior: smooth;
  background-color: var(--secondary-clr);
  position: relative;
  transition: all 250ms ease;
 /*  font-family: "IBM Plex Sans", sans-serif; */
  font-family: "Onest", sans-serif;
 /*  font-family: "Golos Text", sans-serif; */
 /* font-family: "Commissioner", sans-serif; */
 /* 
 font-family: "Geologica", sans-serif; */

}

html::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/images/backgrounds/seamless.jpg");
  background-repeat: repeat;
  background-size: 600px;
  opacity: 0.4;
  z-index: -1;
}



/************
  HOME PAGE 
************/

.home-page__main {
  background-color: var(--secondary-clr);
  max-width: var(--max-width);
  padding-inline: 3rem;
  /* min-width: 1024px; */
  margin-inline: auto;
}

