@font-face {
  font-family: 'Commissioner';
  src: url('/fonts/commissioner-font.woff2') format('woff2');
  font-display: swap;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-clr-dark);
  font-family: "Commissioner", sans-serif;
  background-color: var(--secondary-clr);
/* font-family: "IBM Plex Sans", sans-serif; */
/* font-family: "Onest", sans-serif; */

/* font-family: "Golos Text", sans-serif; */
/* font-family: "Commissioner", sans-serif; */
/* font-family: "Geologica", sans-serif; */
/*  background-color: var(--secondary-clr); */
}

/* h1, h2, h3 {
  font-family: "Golos Text", sans-serif;
} */

:root {
  /* --primary-clr: #FEDBD0;
  --primary-clr-dark: #442C2E;
  --primary-clr-dark-perm: #442C2E;
  --secondary-clr: #FEEAE6;

  --accent-clr: #EF476F;
  --accent-clr-2: #06D6A0;

  --selection-clr: #bce5bc;  */
/* ************************* */

/* lightest bg: #fef4e8 ++
darkest green: #147063 ++
warm light orange sand: #edbc9c ++
warm dark orange: #d26e56 ++

text dark: #101e15 ++
text dark-medium: #81877b ++
text light: #ebfbfb ++
text light-medium: #84d4c7 ++
 */

/* Primary	Deep green (#2f6b4f)
Accent	Sage (#89a97b)
Background	Warm ivory (#faf8f5)
Text	Dark gray (#2e2e2e) */

  --primary-clr: #0F6358; /*  */
  --secondary-clr: #fef4e8; /*  */
  --secondary-cl-2: #fef4e8; /*  */
  --secondary-cl-3: #fffbf5; /* search page input bg */
  /* --primary-clr-light: #0F6358; */ /*  */
  --primary-clr-dark: #101e15; /* ----- */
  --primary-clr-dark-perm: #442C2E;

  --text-clr-dark: #101e15;/*  */ /* dark m */
  --text-clr-dark-perm: #101e15;
  --text-clr-dark-m: #4c5345;/*  */ /* dark m */
  --text-clr-light: #f6ffff; /*  */ /* dark m */
  --text-clr-light-m: #c5ded9;/*  */ /* dark m */
  --text-clr-links: #4d0858;

  --category-font-weight: 400;
  --dropdown-shadow: 0px 3px 3px 3px rgb(0, 0, 0, 0.2);

  --accent-clr: #EF476F;
 /*  --accent-clr-2: #d26e56; */ /*  */
  --accent-clr-2: #bb583f;
  --accent-clr-3: #edbc9c;  /*  */ /* dark m */
  --accent-clr-4: #b5f2b5;
  --accent-clr-5: #fceeda; 

  --selection-clr: #bce5bc; 

 /*  --primary-clr: #356859;
  --primary-clr-2: #37966F;
  --primary-clr-3: #B9E4C9;
  --secondary-clr: #FD5523;
  --clr: #FFFBE6; */

  --max-width: 1440px;
  --content-width: 1280px;
}

.dark-mode {
  --primary-clr: #0a3837;
  --primary-clr-dark: #d3bbbd; 
  --secondary-clr: #231117;
  --secondary-cl-2: #231117;
  --secondary-cl-3: #d2dcba; /* search page input bg */

  --text-clr-dark: #faecd6;
  --text-clr-dark-m: #bcb3a6;
  --text-clr-links: #b5ffc4;

  --category-font-weight: 450;
  --dropdown-shadow: 0px 3px 3px 3px rgba(104, 92, 208, 0.2);

  --accent-clr: #F92A82; 
  --accent-clr-2: #5f57a7; 
  --accent-clr-3: #abbb84;
  --accent-clr-4: #bdb5ff;
  --accent-clr-5: #361a24;

  --selection-clr: #175217; 
}

::selection {
  background-color: var(--selection-clr);
  color: var(--text-clr-dark);
}

/* html {
  scroll-behavior: smooth;
  background-color: var(--secondary-clr); 
  background-image: url("/icons/seamless.jpg");
  background-repeat: repeat;
  background-size: 600px;
  background-blend-mode: multiply;
} */

html {
  scroll-behavior: smooth;
  background-color: var(--secondary-clr);
  position: relative;
  transition: all 250ms ease;
 /*  font-family: "IBM Plex Sans", sans-serif; */
  /* font-family: "Onest", sans-serif; */

 /*  font-family: "Golos Text", sans-serif; */
  /* font-family: "Commissioner", sans-serif; */
 /* font-family: "Geologica", sans-serif; */

}

/* html::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/images/backgrounds/seamless.jpg");
  background-repeat: repeat;
  background-size: 600px;
  opacity: 0.4;
  z-index: -1;
} */

.content-container,
.post-container {
  background-color: var(--secondary-cl-2);
  max-width: var(--max-width);
  padding: 1.5rem;
  /* min-width: 1024px; */
  margin-inline: auto;
  transition: all 250ms ease;
}
/* .post-container__md-text {
  border: 2px solid hotpink;
} */
.post-container__md-text h2,
.post-container__md-text p:has(img) {
  text-align: center;
}
.post-container__md-text p {
  padding-bottom: 1rem;
}
.post-container__md-text p:has(img) {
  padding: 1.2rem 0;
}
/* .post-container__md-text ul {
  border: 2px solid lime;
} */
.article-category {
  background-color: var(--accent-clr-4);
  font-weight: var(--category-font-weight);
  padding: 3px 7px;
  border-radius: 4px;
}

.article-category a {
  color: var(--primary-clr-dark-perm) !important;
}

.page-number {
  color: var(--text-clr-dark-m);
  text-align: center;
  font-size: 0.85rem;
  /* opacity: 0.5; */
  margin-top: 10px;
}
.pagination-buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;  
}
.pagination-buttons a {
  background-color: var(--accent-clr-3);
  color: var(--text-clr-dark-perm);
  border: 1px solid var(--text-clr-dark);
  box-shadow: 2px 2px 0 0 var(--text-clr-dark);
  font-weight: 500;
  padding: 1rem 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 4px;
  font-size: 1.1rem;
  /*  width: fit-content; */
}
.pagination-buttons a:hover {
  transform: translate(2px, 2px);
  box-shadow: 0 0 0 var(--text-clr-dark);
}
.pagination-icon {
  color: var(--text-clr-dark-perm);
}

/* blog-page, author-page, category-page */

.all-categories-h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-clr-dark);
  margin: 2.5rem 0 1.5rem;    
  text-align: center;
}
.category-cloud-container {
  display: flex;
  justify-content: center;
}
/*********************/
/* search.astro page */
/*********************/

.pagefind-ui__search-input {
  border: 1px solid black !important;
  color: var(--text-clr-dark-perm) !important;
  background-color: var(--secondary-cl-3) !important;
}
.pagefind-ui__search-clear {
  background-color: var(--secondary-cl-3) !important;
}
.pagefind-ui__message {
  font-weight: 600 !important;
}
.pagefind-ui__form::before {
  color: var(--text-clr-dark) !important;
  width: 18px !important;
  height: 18px !important;
}

.pagefind-ui__button {
  background-color: var(--accent-clr-3) !important;
  color: var(--text-clr-dark-perm) !important;
  padding: 0.7rem 2rem !important;
  height: auto !important;
  /* width: auto !important; */
  width: 100% !important;
  border-radius: 4px !important;
  font-size: 1.1rem !important;
  font-weight: 550 !important;
  /* border: none !important; */
  border: 1px solid var(--text-clr-dark) !important;
  box-shadow: 3px 3px 0 0 var(--text-clr-dark) !important;
  cursor: pointer !important;
  font-family: "Commissioner", sans-serif !important;
}
.pagefind-ui__button:hover {
  transform: translate(3px, 3px) !important;
  box-shadow: 0 0 0 var(--text-clr-dark) !important;
}
.pagefind-ui__results li:last-child {
  border-bottom: 1px solid rgb(153, 152, 152, 0.5) !important;
}
.pagefind-ui__result {
  align-items: center !important;
  border-top: 1px solid rgb(153, 152, 152, 0.5) !important;
}
.pagefind-ui__result-thumb {
  width: 150px !important;
  max-width: 150px !important;
  min-width: 150px !important;
  height: 150px !important;
  max-height: 150px !important;
  aspect-ratio: 1 / 1 !important;
}
.pagefind-ui__result-image {
  border-radius: 6px !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

/* <div class="pagefind-ui__result-inner svelte-4xnkmf"><p class="pagefind-ui__result-title svelte-4xnkmf"><a class="pagefind-ui__result-link svelte-4xnkmf" href="/category/sovety/">Статьи по тегу советы</a></p> <p class="pagefind-ui__result-excerpt svelte-4xnkmf">3 Item 4 Статьи по тегу <mark>советы.</mark> Как подружиться с гусём? Post</p>  </div> */
/* .pagefind-ui__result-title {
  font-size: 1.4rem !important;
} */
.pagefind-ui__result-inner,
.pagefind-ui__message,
.pagefind-ui__result-link {
  color: var(--text-clr-dark) !important;
  font-family: "Commissioner", sans-serif !important;
}
.pagefind-ui__result-link {
  font-size: 1.3rem !important;
  font-weight: 550 !important;
}
.pagefind-ui__result-link:hover {
  text-decoration: none !important;
}
.pagefind-ui__result-excerpt {
  font-size: 1rem !important;
}

@media screen and (max-width: 640px) {
  .pagefind-ui__result-thumb {
    width: 130px !important;
    max-width: 130px !important;
    min-width: 130px !important;
    height: 130px !important;
    max-height: 130px !important;
  }
  .pagefind-ui__result-link {
    font-size: 1.2rem !important;
  }
}
@media screen and (max-width: 480px) {
  .pagefind-ui__result-thumb {
    width: 110px !important;
    max-width: 110px !important;
    min-width: 110px !important;
    height: 110px !important;
    max-height: 110px !important;
  }
}

/* *************************************** */
@media screen and (max-width:1200px) { 
  .post-container__md-text img {
    max-width: 600px;
  } 
}
@media screen and (max-width:1024px) { 
  .post-container__md-text img {
    max-width: 500px;
  } 
}
@media screen and (max-width: 768px) { 
  /* .post-container__md-text p:has(img) {
    padding: 1.2rem 0;
  } */

  .post-container__md-text img {
    max-width: 450px;
  } 
}
@media screen and (max-width: 640px) { 
  .post-container__md-text h2 {
    font-size: 1.4rem;
  }
  .post-container__md-text img {
    /* max-width: 400px; */
    width: 100%;
  } 
}

@media screen and (max-width: 480px) { 
  .post-container__md-text h2 {
    font-size: 1.2rem;
  }

  
}

