*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: var(--secondary-clr);
}

:root {
  --primary-clr: #FEDBD0;
  --primary-clr-dark: #442C2E;
  --secondary-clr: #FEEAE6;

  --accent-clr: #EF476F;
  --accent-clr-2: #06D6A0;

 /*  --primary-clr: #356859;
  --primary-clr-2: #37966F;
  --primary-clr-3: #B9E4C9;
  --secondary-clr: #FD5523;
  --clr: #FFFBE6; */
}


/* HEADER */


nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
}

.dropdown {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-clr-dark);
  background-color: var(--primary-clr);
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 100;
}

.dropdown::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom center;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-clr-2);
  transition: transform 250ms ease-out;
}

.dropdown:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

/* .dropdown:hover {
  background: var(--accent-clr-2);
  cursor: pointer;
  border: 2px solid red;
}
 */
.dropdown:hover .dropdown_menu li {
  display: block;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;

  display: none;

  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.dropdown_menu li {
  display: block;
  opacity: 1;
  color: var(--primary-clr-dark);
  background-color: var(--secondary-clr);
  padding: 10px 20px;
  font-size: 16px;
}

.dropdown_menu li:hover {
  background-color: var(--accent-clr);
  color: var(--secondary-clr);
}

.dropdown:hover .dropdown_menu {
  display: block;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}