---
// component imports
import MainLayout from '../layouts/MainLayout.astro';

---

<!-- <MainLayout /> -->
<MainLayout>
  <main class="home-page__main">
    <h1>MAIN CONTENT - HOME PAGE</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ipsum voluptatum rem, odio et provident nostrum itaque hic ad atque aspernatur ab repudiandae veritatis earum eos tempore quibusdam officiis quidem iste incidunt facilis accusamus laudantium amet? Id porro obcaecati nisi esse dolore commodi laborum, fugiat facilis veritatis ab deleniti cumque vero dolorem debitis quia incidunt corporis molestiae iusto accusamus exercitationem odio. Porro repudiandae tempore doloremque? Repellat voluptatibus cumque dolorem esse animi eius eligendi obcaecati earum illum reiciendis, maiores distinctio doloremque, dignissimos autem necessitatibus quia, iste pariatur eaque delectus ex? Dolorum nisi dolorem enim aspernatur dignissimos ipsum expedita ab. Facilis, debitis aliquam possimus veritatis, quas animi esse quidem temporibus nemo facere eum dicta commodi ad? Quaerat maiores nesciunt enim dignissimos molestias accusamus ducimus deleniti? Facilis quisquam aut velit aperiam autem alias ea quasi sit qui, nulla enim vero eligendi sapiente molestias. Dolor quas ratione esse nihil quaerat perferendis repudiandae libero quo id, sunt error voluptas veritatis impedit unde voluptatibus fugiat dolorem beatae voluptatem! Rem error illum perferendis itaque sint repellat officia rerum odit quam magni corrupti consectetur voluptates amet, sed aperiam pariatur ex omnis libero sit. Nobis, enim modi porro facere eaque, exercitationem maxime ipsam laborum molestiae odio officia fugiat! Non, commodi nostrum omnis molestiae inventore voluptatum vero maiores expedita soluta illo blanditiis nisi doloremque quae dicta ullam sunt illum quia aut. Nemo minima nobis praesentium optio officia laboriosam rerum aut assumenda rem repudiandae inventore perspiciatis porro in quaerat temporibus beatae eius provident ex, ullam ipsa asperiores itaque? Necessitatibus esse eaque, aut iure, expedita numquam nihil minus nemo voluptatum harum dolore? Aliquid in blanditiis non, quae veritatis reprehenderit maiores earum asperiores ut voluptatum nobis assumenda magni reiciendis? Quibusdam voluptate vel eveniet numquam debitis quae perferendis, natus culpa ipsam neque, pariatur saepe quisquam. Quam porro temporibus inventore tenetur. Consequuntur iusto quos dolorum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, exercitationem! Natus odio, quibusdam explicabo voluptas harum repudiandae qui quidem laborum praesentium tempore nam animi. Odit illum perspiciatis beatae distinctio laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis libero doloremque debitis expedita eaque voluptatem officia accusamus maiores dolor, molestiae velit esse at architecto reprehenderit quos, ducimus officiis reiciendis maxime eius modi animi! Vel non reiciendis commodi nisi, deserunt ratione voluptas distinctio velit unde, dignissimos temporibus neque, ipsa autem nam. Quo repudiandae minima, omnis debitis nesciunt eligendi laboriosam dolorem soluta reiciendis saepe dolores qui ipsa veritatis molestiae a in fugit quaerat odit quis vitae quasi. Ipsam vero tempora consequuntur velit nulla eligendi hic aut voluptatibus non veniam, porro quam ratione, est ipsa placeat, illo culpa nostrum asperiores quas. Veritatis sed quaerat nam optio voluptatibus molestias labore voluptatem minima autem, perspiciatis perferendis est quo quasi ullam dicta sunt, ratione odit! Reprehenderit voluptatibus atque veritatis nostrum pariatur alias hic ipsam numquam laudantium nihil veniam dolor aperiam laborum, provident rerum illum iure ipsum autem. Animi autem consectetur unde ex vero dicta veritatis mollitia.
    </p>
  </main>
</MainLayout>

<style>
  h1 {
    background-color: lightpink;
    padding: 3rem;
    font-size: 1.5rem;
    text-align: center;
  }

  p {
    font-size: 1.5rem; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem 0;
  }
</style>