---
// component imports
import MainLayout from '../layouts/MainLayout.astro';

---

<!-- <MainLayout /> -->
<MainLayout>
  <main class="home-page__main">
    <h1>MAIN CONTENT - HOME PAGE</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ipsum voluptatum rem, odio et provident nostrum itaque hic ad atque aspernatur ab repudiandae veritatis earum eos tempore quibusdam officiis quidem iste incidunt facilis accusamus laudantium amet? Id porro obcaecati nisi esse dolore commodi laborum, fugiat facilis veritatis ab deleniti cumque vero dolorem debitis quia incidunt corporis molestiae iusto accusamus exercitationem odio. Porro repudiandae tempore doloremque? Repellat voluptatibus cumque dolorem esse animi eius eligendi obcaecati earum illum reiciendis, maiores distinctio doloremque, dignissimos autem necessitatibus quia, iste pariatur eaque delectus ex? Dolorum nisi dolorem enim aspernatur dignissimos ipsum expedita ab. Facilis, debitis aliquam possimus veritatis, quas animi esse quidem temporibus nemo facere eum dicta commodi ad? Quaerat maiores nesciunt enim dignissimos molestias accusamus ducimus deleniti? Facilis quisquam aut velit aperiam autem alias ea quasi sit qui, nulla enim vero eligendi sapiente molestias. Dolor quas ratione esse nihil quaerat perferendis repudiandae libero quo id, sunt error voluptas veritatis impedit unde voluptatibus fugiat dolorem beatae voluptatem! Rem error illum perferendis itaque sint repellat officia rerum odit quam magni corrupti consectetur voluptates amet, sed aperiam pariatur ex omnis libero sit. Nobis, enim modi porro facere eaque, exercitationem maxime ipsam laborum molestiae odio officia fugiat! Non, commodi nostrum omnis molestiae inventore voluptatum vero maiores expedita soluta illo blanditiis nisi doloremque quae dicta ullam sunt illum quia aut. Nemo minima nobis praesentium optio officia laboriosam rerum aut assumenda rem repudiandae inventore perspiciatis porro in quaerat temporibus beatae eius provident ex, ullam ipsa asperiores itaque? Necessitatibus esse eaque, aut iure, expedita numquam nihil minus nemo voluptatum harum dolore? Aliquid in blanditiis non, quae veritatis reprehenderit maiores earum asperiores ut voluptatum nobis assumenda magni reiciendis? Quibusdam voluptate vel eveniet numquam debitis quae perferendis, natus culpa ipsam neque, pariatur saepe quisquam. Quam porro temporibus inventore tenetur. Consequuntur iusto quos dolorum.
    </p>
  </main>
</MainLayout>

<style>
  h1 {
    background-color: lightpink;
    padding: 3rem;
    font-size: 1.5rem;
    text-align: center;
  }
</style>