<div class="back-to-top-button">
  <button>
    <i class="fa-solid fa-circle-up"></i>
  </button>
</div>

<style>
  .back-to-top-button {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 50px;
    filter: opacity(60%);
    transition: all 100ms linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .back-to-top-button.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .back-to-top-button button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .back-to-top-button:hover {
    filter: opacity(100%);
  }

  .back-to-top-button i {
    font-size: 2.5rem;
    color: var(--primary-clr-dark);
  }
</style>

<script>
  const backToTopBtn = document.querySelector('.back-to-top-button');

  function btnVisibleOnScroll() {
    backToTopBtn.classList.toggle('visible', window.scrollY > 100);
  };

  window.addEventListener('scroll', btnVisibleOnScroll);

  backToTopBtn.addEventListener('click', (e) => {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  });
</script>

