---

---

<div class="back-to-top-button">
  <a href="#">
    <img src="/icons/circle-arrow-up-solid-full.svg" alt="Back to top">
  </a>
</div>

<style>
  .back-to-top-button {
  /*  position: sticky;
    left: 100%;
    bottom: 1.25rem;
    margin-top: -2rem;
    margin-right: 1.25rem; */
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 50px;
    filter: opacity(40%);
    transition: all 100ms linear;

    opacity: 0;
    visibility: hidden;
  }

  .back-to-top-button:hover {
    filter: opacity(100%);
  }

  .back-to-top-button img {
    height: 50px;
    width: 50px;
  }
</style>

<script>
  const backToTopBtn = document.querySelector('.back-to-top-button');

  function btnVisibleOnScroll() {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      backToTopBtn.style.opacity = 1;
      backToTopBtn.style.visibility = "visible";
    } else {
      backToTopBtn.style.opacity = 0;
      backToTopBtn.style.visibility = "hidden";
    }
  };

  window.addEventListener('scroll', btnVisibleOnScroll);
</script>

