---

---

<div class="back-to-top-button">
  <a href="#">
    <img src="/icons/circle-arrow-up-solid-full.svg" alt="Back to top">
  </a>
</div>

<script>
  const backToTopBtn = document.querySelector('.back-to-top-button');

  function btnVisibleOnScroll() {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      backToTopBtn.style.opacity = 1;
      backToTopBtn.style.visibility = "visible";
    } else {
      backToTopBtn.style.opacity = 0;
      backToTopBtn.style.visibility = "hidden";
    }
  };

  window.addEventListener('scroll', btnVisibleOnScroll);
</script>

