---
// utils imports
import { formatBlogPosts } from '../js/utils';

const allPosts = Object.values(
  import.meta.glob("../pages/blog/*.md", { eager: true })
);
const formattedPosts = formatBlogPosts(allPosts);

const allCategories = formattedPosts
  .map((category) => category.frontmatter.category);
  /* .toLowerCase()).flat() */

const processedCategories = allCategories.reduce((acc, category) => {
  const key = category.slug;

  if (!acc[key]) {
    acc[key] = { name: category.name, count: 0 };
  }

  acc[key].count++;

  return acc;
}, {})

const { showCount } = Astro.props;


---

<ul class="categories">
  {
    Object.entries(processedCategories).map(([slug, val]) => (
      <li>
        <a class="cloud-category" href={`/category/${slug}/`}>{val.name} {showCount && `(${val.count})`}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  li {
    list-style: none;
    margin-bottom: 8px;
  }

  .cloud-category {
    text-decoration: none;
    color: #1f0f0c !important;
    background-color: rgb(181, 242, 181);
    padding: 4px 8px;
    border-radius: 4px;
  }
</style>
