---

---

<footer>
  <div>
    <p>© {new Date().getFullYear()} Все права защищены</p>
  </div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nisi quam dolor minima fuga vitae exercitationem numquam expedita, eos velit?</p>
</footer>

<style>
  footer {
    background-color: var(--primary-clr);
    color: var(--primary-clr-dark);
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
  }

  div {
    font-weight: 700;
  }

</style>