---

---

<header>
  <div  class="menu-container">
    <nav>
      <ul class="menu">
        <li class="dropdown">
          Section 1
          <ul class="dropdown_menu">
            <li class="dropdown_item-1">Item 1</li>
            <li class="dropdown_item-2">Item 2</li>
            <li class="dropdown_item-3">Item 3</li>
            <li class="dropdown_item-4">Item 4</li>
            <li class="dropdown_item-5">Item 5</li>
          </ul>
        </li>
        <li class="dropdown">
          Section 2
          <ul class="dropdown_menu">
            <li class="dropdown_item-1">Item 1</li>
            <li class="dropdown_item-2">Item 2</li>
            <li class="dropdown_item-3">Item 3</li>
            <li class="dropdown_item-4">Item 4</li>
            <li class="dropdown_item-5">Item 5</li>
          </ul>
        </li>
        <li class="dropdown">
          Section 3
          <ul class="dropdown_menu">
            <li class="dropdown_item-1">Item 1</li>
            <li class="dropdown_item-2">Item 2</li>
            <li class="dropdown_item-3">Item 3</li>
            <li class="dropdown_item-4">Item 4</li>
            <li class="dropdown_item-5">Item 5</li>
          </ul>
        </li>
        <li class="dropdown">
          Section 4
          <ul class="dropdown_menu">
            <li class="dropdown_item-1">Item 1</li>
            <li class="dropdown_item-2">Item 2</li>
            <li class="dropdown_item-3">Item 3</li>
            <li class="dropdown_item-4">Item 4</li>
            <li class="dropdown_item-5">Item 5</li>
          </ul>
        </li>
        <li class="dropdown">
          Section 5
          <ul class="dropdown_menu">
            <li class="dropdown_item-1">Item 1</li>
            <li class="dropdown_item-2">Item 2</li>
            <li class="dropdown_item-3">Item 3</li>
            <li class="dropdown_item-4">Item 4</li>
            <li class="dropdown_item-5">Item 5</li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
<!--   <div>
    <img src="/icons/test-logo.svg" height="100px" alt="logo">
  </div>
  <p>Header Content</p> -->
</header>