---

---

<header>
  <div>
    <img src="/public/icons/test-logo.svg" height="100px" alt="logo">
  </div>
  <p>Header Content</p>
</header>

<style>
  header {
    background-color: lightskyblue;
    padding: 1rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  p {
    font-size: 3rem;
  }
</style>