---

---

<header>
  <div  class="menu-container">
    <nav>
      <ul class="menu">
        <li class="dropdown dropdown-6">
          Section 1
          <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-6">
            <li class="dropdown_item-1">Item 1</li>
            <li class="dropdown_item-2">Item 2</li>
            <li class="dropdown_item-3">Item 3</li>
            <li class="dropdown_item-4">Item 4</li>
            <li class="dropdown_item-5">Item 5</li>
          </ul>
        </li>
        <li class="dropdown dropdown-7">
          Section 2
          <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-7">
            <li class="dropdown_item-1">Item 1</li>
            <li class="dropdown_item-2">Item 2</li>
            <li class="dropdown_item-3">Item 3</li>
            <li class="dropdown_item-4">Item 4</li>
            <li class="dropdown_item-5">Item 5</li>
          </ul>
        </li>
        <li class="dropdown dropdown-8">
          Section 3
          <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-8">
            <li class="dropdown_item-1">Item 1</li>
            <li class="dropdown_item-2">Item 2</li>
            <li class="dropdown_item-3">Item 3</li>
            <li class="dropdown_item-4">Item 4</li>
            <li class="dropdown_item-5">Item 5</li>
          </ul>
        </li>
        <li class="dropdown dropdown-9">
          Section 4
          <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-9">
            <li class="dropdown_item-1">Item 1</li>
            <li class="dropdown_item-2">Item 2</li>
            <li class="dropdown_item-3">Item 3</li>
            <li class="dropdown_item-4">Item 4</li>
            <li class="dropdown_item-5">Item 5</li>
          </ul>
        </li>
        <li class="dropdown dropdown-10">
          Section 5
          <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-10">
            <li class="dropdown_item-1">Item 1</li>
            <li class="dropdown_item-2">Item 2</li>
            <li class="dropdown_item-3">Item 3</li>
            <li class="dropdown_item-4">Item 4</li>
            <li class="dropdown_item-5">Item 5</li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
<!--   <div>
    <img src="/icons/test-logo.svg" height="100px" alt="logo">
  </div>
  <p>Header Content</p> -->
</header>

<!-- <style>
  header {
    background-color: lightskyblue;
    padding: 1rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  p {
    font-size: 3rem;
  }
</style> -->