---

---

<header>
  <div class="header-bg-wrapper">
    <img class="header-bg" src="/images/backgrounds/header-bg.jpg" alt="">
  </div>
  <div  class="menu-container">
    <nav>
      <div>
        <img class="logo-img" src="/images/logos/test-logo.jpg" alt="">
      </div>
      <ul class="menu">
        <li class="dropdown">
          Section 1
          <ul class="dropdown_menu">
            <li class="dropdown_item-1"><a href="#">Item 1</a></li>
            <li class="dropdown_item-1"><a href="#">Item 2</a></li>
            <li class="dropdown_item-1"><a href="#">Item 3</a></li>
            <li class="dropdown_item-1"><a href="#">Item 4</a></li>
            <li class="dropdown_item-1"><a href="#">Item 5</a></li>
          </ul>
        </li>
        <li class="dropdown">
          Section 2
          <ul class="dropdown_menu">
            <li class="dropdown_item-1"><a href="#">Item 1</a></li>
            <li class="dropdown_item-1"><a href="#">Item 2</a></li>
            <li class="dropdown_item-1"><a href="#">Item 3</a></li>
            <li class="dropdown_item-1"><a href="#">Item 4</a></li>
            <li class="dropdown_item-1"><a href="#">Item 5</a></li>
          </ul>
        </li>
        <li class="dropdown">
          Section 3
          <ul class="dropdown_menu">
            <li class="dropdown_item-1"><a href="#">Item 1</a></li>
            <li class="dropdown_item-1"><a href="#">Item 2</a></li>
            <li class="dropdown_item-1"><a href="#">Item 3</a></li>
            <li class="dropdown_item-1"><a href="#">Item 4</a></li>
            <li class="dropdown_item-1"><a href="#">Item 5</a></li>
          </ul>
        </li>
        <li class="dropdown">
          Section 4
          <ul class="dropdown_menu">
            <li class="dropdown_item-1"><a href="#">Item 1</a></li>
            <li class="dropdown_item-1"><a href="#">Item 2</a></li>
            <li class="dropdown_item-1"><a href="#">Item 3</a></li>
            <li class="dropdown_item-1"><a href="#">Item 4</a></li>
            <li class="dropdown_item-1"><a href="#">Item 5</a></li>
          </ul>
        </li>
        <li class="dropdown">
          Section 5
          <ul class="dropdown_menu">
            <li class="dropdown_item-1"><a href="#">Item 1</a></li>
            <li class="dropdown_item-1"><a href="#">Item 2</a></li>
            <li class="dropdown_item-1"><a href="#">Item 3</a></li>
            <li class="dropdown_item-1"><a href="#">Item 4</a></li>
            <li class="dropdown_item-1"><a href="#">Item 5</a></li>
          </ul>
        </li>
      </ul>

        <button class="switch-button">
    <span><i class="fa-solid fa-moon"></i></span>
    <span><i class="fa-solid fa-sun"></i></span>
    <span class="switch"></span>
  </button>
    </nav>
  </div>
  


<!--   <div>
    <img src="/icons/test-logo.svg" height="100px" alt="logo">
  </div>
  <p>Header Content</p> -->
</header>

<style>

/********* 
  HEADER 
**********/
.header-bg-wrapper {
   position: relative;
  height: 300px;
  overflow: hidden;
}

.header-bg-wrapper::before {
  background: linear-gradient(to bottom, rgba(4, 119, 201, 0.1) 20%,rgba(124, 17, 145, 0.2) 90%);

  content: '';
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.logo-img {
  width: 80px;
  display: block;
}
.menu-container {
  position: relative;
  z-index: 3;
   /* height: 300px;
  overflow: hidden; */
}


.header-bg {
  width: 100%;
  /* height: 300px; */
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: center;

  transform: translateY(0);
  will-change: transform;
}

nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-clr);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
}

.dropdown {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-clr-dark);
  background-color: var(--primary-clr);
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 100;
}

.dropdown::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom center;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-clr-2);
  transition: transform 250ms ease-out;
}

.dropdown:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

/* .dropdown:hover {
  background: var(--accent-clr-2);
  cursor: pointer;
  border: 2px solid red;
}
 */
/* .dropdown:hover .dropdown_menu li {
  display: block;
} */
.dropdown:hover .dropdown_menu {
  display: block;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;

  display: none;

  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.dropdown_menu li {
  display: block;
  opacity: 1;
  width: 150px;
 /*  color: var(--primary-clr-dark); */
  background-color: var(--secondary-clr);
  /* padding: 10px 20px; */
  font-size: 16px;
  transition: all 150ms ease-out;
}

.dropdown_menu li:hover {
  background-color: var(--accent-clr);
  color: var(--secondary-clr);
}

.dropdown_menu a {
  text-decoration: none;
  color: var(--primary-clr-dark);
  border: 1px solid green;
  padding: 0.5rem 1rem;
  width: 100%;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}



/******************
  Dark mode button 
*******************/
.switch-button {
  position: relative;
  height: 1.7rem;
  width: 3.5rem;
  border-radius: 0.8rem;
  border: none;
  background-color: lightblue;
  transition: all 250ms ease-in-out;

  display: flex;
  align-items: center;
  justify-content: space-around;
} 

.switch-button:hover {
  background-color: lightgray;
}

.switch-button span {
  display: inline-block;
  font-size: 1.1rem;
  color: green;
  cursor: pointer;
}

.switch {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 0.8rem;
  background-color: pink;
  outline: 1px solid brown;
  transition: all 250ms ease-out;
  z-index: 10;
}

.slide .switch {
  left: 50%;
}


</style>

<script>
/***************** 
  Parallax effect 
******************/

const bg = document.querySelector('.header-bg');

window.addEventListener('scroll', () => {
  const scrollY = window.scrollY;
  bg.style.transform = `translateY(${scrollY * 0.3}px)`;
});


/******************
  Dark mode button 
*******************/

const switchBtn = document.querySelector('.switch-button');

switchBtn.addEventListener('click', () => {
  const darkModeOn = switchBtn.classList.toggle('slide');
  document.documentElement.classList.toggle('dark-mode', darkModeOn); /* toggle('class', condition);documentElement returns <html> */
});
</script>