---
// component imports
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BackToTop from "../components/BackToTop.astro";
import SlideInHeader from "../components/SlideInHeader.astro";
import RelatedPosts from "../components/RelatedPosts.astro";

// utils imports
import { formatBlogPosts } from "../js/utils";

// style import
import "../styles/styles.css";

/* const { post } = Astro.props; */
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="public/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&display=swap" rel="stylesheet">
		<!-- <meta name="generator" content={Astro.generator} /> -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
		<title>Plants</title>
	</head>
	<body>
    <SlideInHeader />
    <Header />
    <main class="post-container">
<!--      {post?.data?.image && (
  <img src={post.data.image.src} alt={post.data.image.alt} />
)} -->
      <div class="post-container__content">
        <slot />
      </div>
      <div class="post-container__sidebar">
        <h3 class="h3">Похожие статьи</h3>

        <!--   {
        relatedPosts.length > 0 && (
          <aside class="container" aria-label="Related posts">
            <h2 class="h3">Похожие статьи</h2>
            <RelatedPosts {relatedPosts} />
          </aside>
        )
      } -->
      </div>

    </main>
    <!-- <slot>Some Text</slot> -->
    <Footer />
    <BackToTop />
	</body>
</html>